@page
@model MyApp.Namespace.RateModel
@{
    ViewData["Title"] = "Rate";
}

<link href="~/css/jquery.rateyo.min.css" rel="stylesheet" />
<form method="post">
    <div id="rateIt"></div>
    <br>
    <div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Rate">Rate it</button>
        <input name="_rate" type="hidden" id="rating" />
    </div>
</form>


<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.rateyo.min.js"></script>
<script>
    $(function () {

        var $rateYo = $("#rateIt").rateYo({
            rating: 0,
            fullStar: true,
            onChange: function (rating, rateYoInstance) {
                $('#rating').val(rating);
            }
        });

        $("#getRating").click(function () {

            /* get rating */
            var rating = $rateYo.rateYo("rating");

            window.alert("You give " + rating + " rate!");
        });
    });

</script>
